node_modules
package-lock.json
cypress/screenshots
cypress/videos
cypress/downloads
.idea
dist
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
.DS_Store
resources
.env
/cypress/reports/
tmp.txt
*.js